@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .menu_wrapper {
    justify-content: space-around;
    gap: 0;

    }
    menu_inner {
        gap: 0;
        justify-content: space-between;
    }
}